click==6.7
conda==4.3.13
cycler==0.10.0
decorator==4.0.11
enum34==1.1.6
Flask==0.12
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.9.5
joblib==0.10.3
MarkupSafe==0.23
matplotlib==2.0.0
numpy==1.12.0
pycosat==0.6.1
pycrypto==2.6.1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
subprocess32==3.2.7
typing==3.5.3.0
virtualenv==15.1.0
Werkzeug==0.11.15
