.icobutton{
	font-size: 2.5em;
	position: relative;
	margin: 0;
	left: 30%;
	color: #2e3c40;;
	border: 0;
	background: none;
	overflow: visible;
	display: inline-block;
}

.play-button{
	padding: 0;
}

.icobutton:hover,
.icobutton:focus{
	color:#ff5c5c;
	outline: none;
}

.volume{
	padding-left: 40px;
	padding-right: 20px;
}
