.icobutton {
	font-size: 2.5em;
	position: relative;
	margin: 0;
	top: -10px;
	left: 30%;
	color: #2e3c40;
	border: 0;
	background: none;
	overflow: visible;
	display: inline-block;
}

.play-button {
	color: #2e3c40;
	padding: 0;
	outline: none;
	margin-left: 25px;
}

.play-button.highlight {
	color: #ff5c5c;
	outline: none;
}

.volume {
	padding-left: 35px;
	padding-right: 15px;
	outline: none;
}

.volume:active {
	color: #ff5c5c;
	outline: none;
}

.fa-info-circle {
	color: #2e3c40;
	font-size: 0.7em;
	margin-left: 5px;
}

.fa-circle {
	margin-top: -50px;
	margin-bottom: 10px;
}
