.icobutton{
	font-size: 2.5em;
	position: relative;
	margin: 0;
	left: 30%;
	color: #2e3c40;
	border: 0;
	background: none;
	overflow: visible;
	display: inline-block;
}

.play-button{
	padding: 0;
}

.play-button.highlight{
	color:#ff5c5c;
	outline: none;
}

.volume{
	padding-left: 35px;
	padding-right: 15px;
}

.volume:active{
	color:#ff5c5c;
	outline: none;
}
