<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>See Major: Audio Visualizer</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800|Londrina+Outline' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cs-select.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/cs-skin-rotate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/buttons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css')}}">
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
  </head>

  <body>
    <div class="container">
      <h1 class="title">See Major<a href="/"><span class="fa fa-info-circle"></span></a></h1>
      <div class="text song">Song</div>
      <div class="text audio">Audio Source</div>
      <div class="text viz">Visualization</div>
      <audio id="audioElement" src="{{ url_for('static',filename='audio/kanye.mp3') }}" preload="auto"></audio>
      <ol class="grid">
  			<li class="grid__item btn">
  				<button id="play" class="icobutton play-button" onclick="togglePlay()"><span class="fa fa-play"></span></button>
  			</li>
        <li class="btn">
          <button class="icobutton volume" onclick="document.getElementById('audioElement').volume-=0.1" title="Softer"><span class="fa fa-minus"></span></button>
        </li>
        <li class="btn">
          <button class="icobutton volume" onclick="document.getElementById('audioElement').volume+=0.1" title="Louder"><span class="fa fa-plus"></span></button>
        </li>
        <li class="btn">
          <select id="audioSelect" class="cs-select cs-skin-rotate">
            <option value="1">Kanye West</option>
  					<option value="2">Taylor Swift</option>
            <option value="3">Yeezer</option>
            <option value="4">Childish Gambino</option>
            <option value="5">Mura Masa</option>
            <option value="6">Jamie xx</option>
            <option value="7">Noname</option>
          </select>
        </li>
        <li class="btn">
					<button class="button button--wayra button--border-medium button--size-s highlight"><span>Original</span></button>
				</li>
        <li class="btn">
          <button id="background" class="button button--wayra button--border-medium button--size-s">Beat</button>
        </li>
        <li class="btn">
          <button id="bar" class="button button--wayra button--border-medium button--size-s highlight"><span class="fa fa-signal"></button>
        </li>
        <li class="btn">
          <button id="circle" class="button button--wayra button--border-medium button--size-s button--right"><span class="fa fa-circle-o"></button>
        </li>
  		</ol>
    </div>
    <div id="visualizer"></div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static',filename='js/visualize.js') }}"></script>
    <script src="{{ url_for('static',filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static',filename='js/selectFx.js') }}"></script>
    <script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
					new SelectFx(el);
				} );
			})();
		</script>
  </body>
</html>
