<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>See Major: Audio Visualizer</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800|Londrina+Outline' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/icons.css')}}">

    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1 class="title">See Major</h1>
      </div>
      <audio id="audioElement" src="{{ url_for('static',filename='audio/kanye.mp3') }}" preload="auto"></audio>
      <!-- <div class="box">
					<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
					<label for="file-1">
            <span>Choose a file</span>
          </label>
			</div> -->
  		<ol class="grid">
  			<li class="grid__item">
  				<button class="icobutton play-button" onclick="togglePlay()"><span class="fa fa-play"></span></button>
  			</li>
        <li>
          <button class="icobutton volume" onclick="document.getElementById('audioElement').volume-=0.1"><span class="fa fa-minus"></span></button>
        </li>
        <li>
          <button class="icobutton volume" onclick="document.getElementById('audioElement').volume+=0.1"><span class="fa fa-plus"></span></button>
        </li>
  		</ol>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="{{ url_for('static',filename='js/mo.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/demo.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bar.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom-file-input.js') }}"></script>
  </body>
</html>
